/venv
/venv2
/__pycache__
/.idea
/FunPayAPI/__pycache__
/logs
/storage/cache
/configs
/plugins/__pycache__
/build
/dist
test.py
backup.zip

# Python
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

# Replit
.pythonlibs/
.config/
.cache/
.upm/
replit.nix
.replit